<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>سيستم دريافت کمک های مردمی موسسه خيريه حمايت از کودکان مبتلا به سرطان</title>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">

    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/semantic.js' %}"></script>
	 <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

    <link  rel="stylesheet" type="text/css" href="{% static 'css/semantic.css' %}" />
    <link  rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />


</head>
<body style="background-image: {% static 'css/img/4.jpg' %}">





<!-- header -->
<div id="top_header" class="ui inverted segment">
	<button class="tiny ui inverted teal button" id="home">  خانه  </button>
	<button class="tiny ui inverted teal button" id="about_us"> درباره ما </button>
</div>









<!-- main body -->
<div id="main_body" class="ui segment">

<div class="ui red piled segment contact_div">
  <h2 class="ui right floated header"> درباره ما</h2>
  <div class="ui clearing divider"></div>

 <div class="ui raised segment">
    <div class="ui top right attached label">درباره محک</div>

<br>

مؤسسه خیریه حمایت از کودکان مبتلا به سرطان با نام اختصاری “ محک ”  از سال  1370 و با شماره ثبت 6567  در قـالب یک سـازمان غیر انتفاعی- غیر دولتی با انگیزه والای کمک به همنوع فعالیت همه جـانبه خود را جهت حمایت از کودکان مبتلا بـه سرطان زیر 16 سال و خانواده‌های آنـان آغاز کزده است. در طـول دو دهه فعـالیت، محک بـا بهره‌گیری از کمک های انسان دوستانه مردم نیکوکار و همراهی مدیران نیک اندیش و تلاش پیگیر نیروهای داوطلب و موظف خود به موفقیت های چشمگیری در حوزه های امور خیریه، درمان و تحقیقات دست یافته ا و به یکی از قطب های درمان در خاورمیانه تبدیل شده است.

    </div>

<div class="ui raised segment">
    <div class="ui top right attached label">تاریخچه تاسیس</div>

<br>
<p>
یده اولیه تاسیس محک توسط  سعیده  قدس(بنیانگذارمحک) با آگاهی از مشکلات کودکان مبتلا به سرطان به واسطه بیماری فرزندش صورت گرفت. از همان ابتدا با گردهم آمدن گروهی از خیران داوطلب فعالیت محک در بیمارستان های دولتی دانشگاهی انجام می گرفت. همزمان با فعالیت های مددکاری در بیمارستان های دولتی و دانشگاهی مقدمات ثبت محک از سال 68 آغاز شد.بنیانگذاران اولیه براین باور بودند که یک موسسه نمی تواند تنها با اتکا به شخص ویا گروه محدودی از یاواران  این راه را طی کند بنابراین در سال 1370 محک به ثبت رسید تا از امکانات خیرخواهانه گروه وسیع تری برای حمایت همه جانبه از کودکان مبتلا به سرطان بهره گیرد و دامنه حمایت های خود را در سطح ایران گسترش دهد.
</p>
<p>
  نام اختصاری محک برگرفته از نوع فعالیت این موسسه می باشد (موسسه حمایت از کودکان مبتلا به سرطان) و لوگوی محک طرح برگ است که نماد حیات و زندگی است و برروی آن  کودک و خانواده اش امیدوارانه  ایستاده اند.

</p>

<p>
  محک از همان ابتدا با جلب کمک های مردمی و نیت خیرخواهانه مردم و فعالیت های داوطلبانه اداره می گردید .برگزاری بازارها، توزیع قلک و عضویت درجمع یاوران  محک از روش های جلب کمک های مردمی  در محک بوده است. موسسه "محک" توانست ظرف کمتر از یک دهه با بهره گیری از اعتماد و حمایت های آحاد مردم و سخت کوشی اعضاء داوطلب و اعمال روشهای علمی و تخصصی در مراقبت های ویژه از بیماران و خانواده های آنان در کنار پیشرفتهای علم پزشکی آمار بهبود را تحت تاثیر قرار دهد.
</p>
<p>
  
  محک همواره با هدف حفظ منزلت انسانی کودکان مبتلا به سرطان و خانواده ها در تلاش است که آنان شادمانه و امیدوارانه مراحل درمان را طی کنند و خانواده تنها به سلامت کودک خود بیاندیشد. 

</p>

<p>
  عالیت  محک، انجام امور خیریه در زمینه های پزشکی، پژوهشی، پیشگیری، درمانی، خدماتی، بهداشتی، بیمارستانی، رفاهی و صرفا در جهت حمایت از کودکان مبتلا به سرطان می باشد. محک تبلوری از ایفای نقش مشارکت مردمی در جامعه است که در بخش اول اساسی ترین شعار محک یعنی ” ما را یاری دهید و از ما یاری بخواهید ” بر آن تصریح شده است.

می توان این فعالیت های را به سه بخش خیریه – درمان- تحقیقات تقسیم کرد
</p>

<p>
  
  محک  در بخش خیریه با کمک های مردمی توانسته تا پایان سال 93 بیش از 23000 کودک مبتلا به سرطان و خانواده‌هایشان را تحت حمایت همه جانبه قرار دهد. در بخش درمان  با بهره گیری از پزشکان برجسته و متبحر  در بیمارستان فوق تخصصی محک پروتکل های درمانی را برای کودکان تعیین می نماید وهمچنین مشاوره های درمانی نیز ارائه می دهند. در بخش تحقیقات نیز با  موسسات مشابه تحقیقاتی داخلی و خارجی (انستیو گوستاوروسی فرانسه - موسسه تحقیقاتی رویان - موسسه تحقیقاتی ابن سینا - انستیتو کانسر تهران) فعالیت می کند.
</p>
    </div>


<div class="ui raised segment">
    <div class="ui top right attached label">درباره مدیر سایت </div>
    این وبسایت به درخواست خانم "آوا رهبر" و به منظور جمع آوری کمک های مردمی از طریق ارایه مشاوره در زمینه کنکو در تاریخ 22 آذر ماه 1395 ایجاد شده است.
    <br>
    فعالیت این وبسایت به صورت خصوصی بوده و صرفا در دسترس مدیریت سایت میباشد.لذا از عزیزان خواهشمندم که اگر از دانش آموزان این استاد نیستید کمک های خود را از طریق وبسایت های دیگری پرداخت نمایید.باتشکر
  </div>
  
</div>



</div>


</body>
</html>
